<?xml version="1.0" encoding="UTF-8" standalone="no"?>
<launchConfiguration type="org.eclipse.ve.java.core.launcher.JavaBean">
<stringAttribute key="org.eclipse.jdt.launching.MAIN_TYPE" value="Threads.Exclusion_Mutua"/>
<stringAttribute key="org.eclipse.jdt.launching.PROJECT_ATTR" value="Taller de Programacion"/>
</launchConfiguration>
